<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family members</title>
</head>
<body>
    <h1><b>Family members</b></h1>
    <ul>
        {% for member in members %}
            <li>
                <span><b>Name:</b> {{member.name}} </span>

                <span><b>Age:</b> {{member.age}} years old</span>

                <span><b>Birthday:</b> {{member.bday_date}} </span>

            </li>
        {% endfor %}
    </ul>
</body>
</html>